:root {
    --el-color-primary: #07c160;
    --el-color-primary-light-1: #20c770;
    --el-color-primary-light-2: #39cd80;
    --el-color-primary-light-3: #51d490;
    --el-color-primary-light-4: #6adaa0;
    --el-color-primary-light-5: #83e0b0;
    --el-color-primary-light-6: #9ce6bf;
    --el-color-primary-light-7: #b5eccf;
    --el-color-primary-light-8: #cdf3df;
    --el-color-primary-light-9: #e6f9ef;
    --el-color-primary-dark-2: #069a4d;
}
